html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222;
    color: #fff;
}


header {
    margin: 0px;
    padding: 0px;
    font-family: "Courier Prime", monospace;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header h1 {
    color: #fff;
    animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes cursor {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

@keyframes typing {
    0% {
        width: 0ch
    }

    30% {
        width: 16ch;
    }

    80% {
        width: 16ch;
    }

    90% {
        width: 0ch;
    }

    100% {
        width: 0ch;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.box {
    background-color: darkblue;
    padding: 20px;
}

/*------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   >1280       - Larger than desktop
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------*/

@media (min-width:1280px) {
    .container {
        max-width: 80vmax;
    }

    header h1 {
        font-size: 35px;
        font-weight: 250;
        border-right: 2px solid #fff;
    }

    p {
        font-size: 18px;
    }

    input {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }
}

@media (min-width:1024px) and (max-width:1279px) {
    .container {
        max-width: 70vmax;
    }

    header h1 {
        font-size: 35px;
        font-weight: 250;
        border-right: 2px solid #fff;
    }

    p {
        font-size: 18px;
    }

    input {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

}

@media (min-width:768px) and (max-width:1023px) {
    .container {
        max-width: 60vmax;
    }

    header h1 {
        font-size: 30
        px;
        font-weight: 210;
        border-right: 1.8px solid #fff;
    }

    p {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 37px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

}

@media (min-width:480px) and (max-width:767px) {
    .container {
        max-width: min(90vmin, 90vmax);
    }

    header h1 {
        font-size: 22px;
        font-weight: 162;
        border-right: 1.3px solid #fff;
    }

    p {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 17PX;
    }

    h4 {
        font-size: 16PX;
    }

}

@media (max-width:479px) {
    .container {
        max-width: min(80vmin, 80vmax);
    }

    header h1 {
        font-size: 19px;
        font-weight: 140;
        border-right: 1.1px solid #fff;
    }

    p {
        font-size: 13px;
    }

    input {
        font-size: 13px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 16PX;
    }

    h4 {
        font-size: 15PX;
    }

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}