<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="image" href="{{ url_for('static', filename='twitter.png') }}">


</head>

<body>
    <nav>
        <ul>
            <li>Managed and Developed <br><br /> by <a href="https://twitter.com/arcticfrenz" target="_blank"
                    rel="noopener noreferrer"><img rel="image" src="/static/twitter.png" alt="twitter"> @ArcticFrenz</a></li>
        </ul>
    </nav>
    <header>
        <h1>AI3 Plus</h1>
    </header>
    <div class="container">
        <div class="box">
            <p>
                Introducing the AI3 Plus, a revolutionary platform that stands apart from other artificial intelligence
                systems. Promising to take predictive performance to the next level, the AI3 Plus combines three
                distinct forms of learning: unsupervised, supervised, and reinforcement. AI-1 uses powerful algorithms
                to analyze and cluster unlabeled datasets, AI-2 uses well-labeled training data, and AI-3 learns to act
                in an environment through reward-based feedback. With these capabilities, the AI3 Plus has redefined
                what is possible regarding machine learning and predictive performance, offering users unparalleled
                accuracy in detecting patterns in data. Due to its superior intelligence, this revolutionary platform is
                designed to be intuitive, straightforward, and highly effective. Try it today and experience the true
                power of AI!</p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <p>Box 1</p>
        </div>
        <div class="box">
            <p>Box 2</p>
        </div>
        <div class="box">
            <p>Box 3</p>
        </div>
        <div class="box">
            <p>Box 4</p>
        </div>
        <div class="box">
            <p>Box 5</p>
        </div>
        <div class="box" <p>Box 6</p>
        </div>
    </div>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</body>

</html>