<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="image" href="{{ url_for('static', filename='twitter.png') }}">
    <link rel="file" href="{{ url_for('static', filename='file1.json') }}">
</head>

<body>
    <nav>
        <ul>
            <li>Managed and Developed <br><br /> by <a href="https://twitter.com/arcticfrenz" target="_blank"
                    rel="noopener noreferrer"><img rel="image" src="/static/twitter.png" alt="twitter"> @ArcticFrenz</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>AI3 Plus</h1>
    </header>
    <div class="container">
        <div class="box">
            <p>
                words word
        </div>
    </div>
    <div class="container">
        <form action="/" method="POST">
            <input type="hidden" name="index_value" value="{{ index_value }}">
            <button type="submit" style="height: 100px; width: 100px;">{{ button_text }}</button>
        </form>
    </div>
    <div class="container">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                        <th>Header 4</th>
                        <th>Header 5</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in data.items() %}
                    <tr>
                        <td>{{ item[0] }}: {{ item[1] }}</td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
</body>

</html>